.vscode
obj
bin
appsettings.Development.json
*.user
*.rsuser
*.suo
*.cache
*.log
*.pdb
*.mdb
*.opendb
*.pidb
*.svclog
*.sln.docstates
*.userprefs
*.csproj.user
*.csproj.vspscc
*.vbproj.user
*.vbproj.vspscc